<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Setting</servlet-name>
        <servlet-class>Jums.Setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingSet</servlet-name>
        <servlet-class>Jums.SettingSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainCheck</servlet-name>
        <servlet-class>Jums.TrainCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Jums.Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Weather</servlet-name>
        <servlet-class>Jums.Weather</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvenienceStore</servlet-name>
        <servlet-class>Jums.ConvenienceStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>新規Servlet</servlet-name>
        <servlet-class>Jums.新規Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTweets</servlet-name>
        <servlet-class>Jums.SearchTweets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Setting</servlet-name>
        <url-pattern>/Setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingSet</servlet-name>
        <url-pattern>/SettingSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainCheck</servlet-name>
        <url-pattern>/TrainCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Weather</servlet-name>
        <url-pattern>/Weather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvenienceStore</servlet-name>
        <url-pattern>/ConvenienceStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>新規Servlet</servlet-name>
        <url-pattern>/__Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTweets</servlet-name>
        <url-pattern>/SearchTweets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
